Assignment21_WCF_Client/Assignment21_WCF_Client/Connected Services/Q2CalcService/Q2_Calc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Q2_Calc" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8182/Q2_Calc.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8182/Q2_Calc.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQ2_Calc_Add2Num_InputMessage">
    <wsdl:part name="parameters" element="tns:Add2Num" />
  </wsdl:message>
  <wsdl:message name="IQ2_Calc_Add2Num_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add2NumResponse" />
  </wsdl:message>
  <wsdl:message name="IQ2_Calc_Sub2Num_InputMessage">
    <wsdl:part name="parameters" element="tns:Sub2Num" />
  </wsdl:message>
  <wsdl:message name="IQ2_Calc_Sub2Num_OutputMessage">
    <wsdl:part name="parameters" element="tns:Sub2NumResponse" />
  </wsdl:message>
  <wsdl:portType name="IQ2_Calc">
    <wsdl:operation name="Add2Num">
      <wsdl:input wsaw:Action="http://tempuri.org/IQ2_Calc/Add2Num" message="tns:IQ2_Calc_Add2Num_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQ2_Calc/Add2NumResponse" message="tns:IQ2_Calc_Add2Num_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sub2Num">
      <wsdl:input wsaw:Action="http://tempuri.org/IQ2_Calc/Sub2Num" message="tns:IQ2_Calc_Sub2Num_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQ2_Calc/Sub2NumResponse" message="tns:IQ2_Calc_Sub2Num_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IQ2_Calc" type="tns:IQ2_Calc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add2Num">
      <soap:operation soapAction="http://tempuri.org/IQ2_Calc/Add2Num" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sub2Num">
      <soap:operation soapAction="http://tempuri.org/IQ2_Calc/Sub2Num" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Q2_Calc">
    <wsdl:port name="BasicHttpBinding_IQ2_Calc" binding="tns:BasicHttpBinding_IQ2_Calc">
      <soap:address location="http://localhost:8182/Q2_Calc.svc/Q2Calc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>