Assignment21_WCF_Client/Assignment21_WCF_Client/Connected Services/Q1T2Service/Q1T2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Assignment21_WCF_Service_Q1_Task2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Assignment21_WCF_Service_Q1_Task2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOpenings">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Openings" nillable="true" type="tns:Openings" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOpenings" nillable="true" type="tns:ArrayOfOpenings" />
  <xs:complexType name="Openings">
    <xs:sequence>
      <xs:element minOccurs="0" name="Job" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" type="tns:RoleType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Openings" nillable="true" type="tns:Openings" />
  <xs:simpleType name="RoleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Trainee" />
      <xs:enumeration value="Analyst" />
      <xs:enumeration value="SeniorAnalyst" />
      <xs:enumeration value="Lead" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RoleType" nillable="true" type="tns:RoleType" />
</xs:schema>