Assignment21_WCF_Client/Assignment21_WCF_Client/Connected Services/Q1T2Service/Q1T21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8183/Q1T2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Assignment21_WCF_Service_Q1_Task2" />
  <xs:element name="OpeningsJobs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OpeningsJobsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Assignment21_WCF_Service_Q1_Task2" minOccurs="0" name="OpeningsJobsResult" nillable="true" type="q1:ArrayOfOpenings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpeningJobsByRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Assignment21_WCF_Service_Q1_Task2" minOccurs="0" name="Role" type="q2:RoleType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpeningJobsByRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Assignment21_WCF_Service_Q1_Task2" minOccurs="0" name="OpeningJobsByRoleResult" nillable="true" type="q3:ArrayOfOpenings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>